*.DS_Store
.vs_code
*.vs_code
data/dataset/celeba/*
data/dataset/cifar10/*
data/dataset/cifar/cifar-10-python.tar.gz
data/dataset/cifar/cifar-10-batches-py/
data/dataset/mnist
data/dataset/fmnist/
data/dataset/emnist/
data/dataset/femnist/
data/dataset/FashionMNIST/*
data/dataset/MNIST/*
data/dataset/shakespeare
data/dataset/shakespeare_text
data/dataset/svhn/*mat
data/dataset/glue*
data/dataset/domainnet121/*
data/dataset/cifar100/*
data/dataset/ledgar/*
*__pycache__
log/*
*.db
pretrained_model/*
.idea/*
artifacts/*
