compute_environment: LOCAL_MACHINE
downcast_bf16: 'no'
gpu_ids: all
machine_rank: 0
main_training_function: main
mixed_precision: fp16
num_machines: 1
rdzv_backend: static
same_network: true
tpu_env: []
tpu_use_cluster: false
tpu_use_sudo: false
use_cpu: false

# One GPU
distributed_type: NO
num_processes: 1

# Multiple GPUs
# distributed_type: MULTI_GPU
# num_processes: {number of GPUs}